.inputWrapper {
	position: relative;
	width: 100%;
	> input {
		width: 100%;
		border-radius: var(--border-radius);
		border: 1px solid var(--bg-secondary);
		height: 60px;
		font-size: 1.8rem;
		background-color: transparent;
		color: var(--text-secondary);
		padding: 10px;
	}

	> label {
		background-color: var(--bg-primary);
		color: var(--text-secondary);
		max-width: fit-content;
		font-style: italic;
		text-transform: capitalize;
		letter-spacing: 0.68px;
		font-size: 1.7rem;
		padding-inline: 8px;
		position: absolute;
		left: 12px;
		top: -12px;
	}
	.error {
		color: var(--text-danger);
		font-size: 1.3rem;
		position: absolute;
		bottom: -10px;
		left: 5px;
	}
}
