.heading {
	color: var(--text-primary);
	line-height: normal;
	text-transform: capitalize;
	font-weight: 400px;
	white-space: pre-line;
}

.h1 {
	font-size: 4rem;
	letter-spacing: 1.6px;
}
.h2 {
	font-size: 3.6rem;
	letter-spacing: 1.4px;
}
.h3 {
	font-size: 3.2rem;
}
.h4 {
	font-size: 2.8rem;
}
