.pageWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 60px;

	.messageWrapper {
		display: flex;
		flex-direction: column;
		gap: 43px;

		.accent {
			font-size: inherit;
			letter-spacing: inherit;
			color: var(--text-primary);
		}

		.link {
			display: flex;
			gap: 10px;
			align-items: center;
			justify-content: center;
		}
	}
}

.linkToHomePage {
	margin-top: 300px;
}
